.form-group {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.form-group label {
    text-align: end;
    margin-right: 1rem;
}

.entrada-formulario {
    border: none;
    border-bottom: 1px solid gray;
}