h1 {
    color: var(--colorPrimario);
}

a {
    text-decoration: none;
    color: black;
}

#cantidad {
    text-align: start;
}

#precio {
    text-align: right;
}

img {
    width: 80px;
}

td p {
    color: gray;
}
