:root {
    --colorPrimario: #D13B53;
    --colorSecundario: #FABDBD;
    --colorTerciario: rgb(237, 121, 121);
}

/*
.section1 { background-color: lightcoral; }
.section2 { background-color: lightseagreen; }
.section3 { background-color: lightgoldenrodyellow; }
.section4 { background-color: lightblue; }
.section5 { background-color: lightpink; }
.section6 { background-color: lightgreen; }
.section7 { background-color: lightgray; }
.section8 { background-color: lightsalmon; }
.section9 { background-color: lightcyan; }

.container div {
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
}
    */