<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}LibroNet{% endblock %}</title>
        {% load static %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- CSS personalizado -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <!-- jQuery y Bootstrap JavaScript -->
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
    <body>

        {% include "_partials\Header.html" %}


        <div class="container-fluid mt-5 mx-5 mb-5">
            {% block content %}
        
            {% endblock %}
        </div>


        {% include "_partials\Footer.html" %}
    </body>
</html>