{% extends 'base.html' %} 
{% block title %}Catalogo{% endblock %} 
{% load static%} 
{% block content %}
<div class="row" id="libro-grid">
  {% for libro in page_obj %}
  <div class="col-md-3 mb-3">
    <div class="card" style="width: 18rem">
      <a href="{% url 'libroDetalle' libro.id %}">
        <img
          id="img-catalogo"
          src="{{ libro.portadaLibro.url }}"
          class="card-img-top img-fluid"
          style="max-height: 150px; max-width: 150px"
          alt=""
        />
    </a>
      <div class="card-body">
        <h5 class="card-title">{{ libro.tituloLibro }}</h5>
        {% for autor in libro.autores.all %}
        <p class="card-title">{{autor.autor}}</p>
        {% endfor %}
        <p class="card-text">Precio: {{ libro.precioLibro }}</p>
        <div>
          <button type="button" class="btn add-to-bolsa-btn" style="background-color: var(--colorPrimario); color:white" libro-id="{{ libro.id }}">Añadir a bolsa</button>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-12">
    <p class="text-center">No existen coincidencias.</p>
  </div>
  {% endfor %}
</div>

<div class="d-flex justify-content-center mt-4">
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.previous_page_number }}&sort={{ sort_by }}&q={{ query }}"
          aria-label="Anterior"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %} 
      {% for num in page_obj.paginator.page_range %} 
      {% if page_obj.number == num %}
      <li class="page-item active"><span class="page-link">{{ num }}</span></li>
      {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5'%}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ num }}&sort={{ sort_by }}&q={{ query }}"
          >{{ num }}</a
        >
      </li>
      {% endif %} {% endfor %} {% if page_obj.has_next %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.next_page_number }}&sort={{ sort_by }}&q={{ query }}"
          aria-label="Siguiente"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {

    const urls = [
        "img/21.jpg",
        "img/22.jpg",
        "img/23.jpg",
        "img/24.jpg",
        "img/25.jpg",
        "img/26.jpg",
        "img/27.jpg",
        "img/28.jpg",
        "img/29.jpg",
        "img/30.jpg",
        "img/31.jpg",
        "img/32.jpg",
        "img/33.jpg",
        "img/34.jpg",
        "img/35.jpg",
    ];

    const randomUrl = urls[Math.floor(Math.random() * urls.length)];
    document.getElementById("img-catalogo").alt = randomUrl;
    // Get all add-to-cart buttons
    const addToCartButtons = document.querySelectorAll('.add-to-bolsa-btn');

    addToCartButtons.forEach(button => {
        button.addEventListener('click', function() {
            const bookId = this.getAttribute('libro-id');
            addToCart(bookId);
        });
    });

    function addToCart(bookId) {
        fetch('{% url "add_to_cart" 0 %}'.replace('/0/', `/${bookId}/`), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ book_id: bookId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Book added to cart successfully');
            } else {
                alert('Failed to add book to cart');
            }
        });
    }
});
</script>
{% endblock %}
