{% extends 'base.html' %} 
{% block title %}Catalogo{% endblock %} 
{% load static%}
{% block content %}
<div class="row d-flex justify-content-center align-items-center mt-5">
  <div class="card" style="width: 24rem">
        <div class="row">
                <img id="img-detalle" src="{{ libro.portadaLibro.url }}" class="img-fluid book-cover" style="max-height: 250px; max-width: 250px" alt="{{ libro.tituloLibro }}">
              <div class="card-body">
                <h1>{{ libro.tituloLibro }}</h1>
                {% for autor in libro.autores.all %}
                    <p class="autor">{{ autor.autor }}</p>
                {% endfor %}
                <p class="precio">$ {{ libro.precioLibro }}</p>

                {% comment %} <div class="col-4">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="button" id="decremento">-</button>
                      </div>
                      <input type="text" class="form-control" id="cantidad" name="cantidad">
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="incremento">+</button>
                      </div>
                  </div>
              </div> {% endcomment %}
              
              {% if libro.stockLibro > 0 %}
              <div>
                <button id="libDetAdd" type="button" class="btn btn-primary" style="background-color: var(--colorPrimario); color:white" libro-id="{{ libro.id }}">Añadir a bolsa</button>
              </div>
              {% else %}
                <div>
                  <button type="button" class="btn btn-secondary" disabled>Sin Stock</button>
                </div>
              {% endif %}
            </div>
        </div>
  </div>
<p>Descripción: {{ libro.resumenLibro }}</p>
</div>

<script>
  const urls = [
        "img/21.jpg",
        "img/22.jpg",
        "img/23.jpg",
        "img/24.jpg",
        "img/25.jpg",
        "img/26.jpg",
        "img/27.jpg",
        "img/28.jpg",
        "img/29.jpg",
        "img/30.jpg",
        "img/31.jpg",
        "img/32.jpg",
        "img/33.jpg",
        "img/34.jpg",
        "img/35.jpg",
    ];

    const randomUrl = urls[Math.floor(Math.random() * urls.length)];
    document.getElementById("img-detalle").alt = randomUrl;

  $('#libDetAdd').click(function() {
    function addToCart(bookId) {
      fetch('{% url "add_to_cart" 0 %}'.replace('/0/', `/${bookId}/`), {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({ book_id: bookId })
      })
      .then(response => response.json())
      .then(data => {
          if (data.success) {
              alert('Book added to cart successfully');
          } else {
              alert('Failed to add book to cart');
          }
      });
  }

  const libroId = this.getAttribute('libro-id');
  addToCart(libroId);

});
</script>

<script src="{% static 'js/libroDetalle.js' %}"></script>
      {% comment %} <a href="{% url 'book_list' %}" class="btn btn-primary mt-3">Volver a la lista</a> {% endcomment %}
{% endblock %}